{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{% set websites = fields.field_event_website_tax.content|trim|replace({" ":""})|split(",")%}
{# {% set date = fields.field_date.content|date("Y-m-d") %} #}
{% set date = fields.field_date.raw|date("Y-m-d") %}
{% set bid = fields.field_ems_booking_id.content %}
{% set title = fields.title.content|lower|replace({" ":"-"},{"\/":""}) %}
{% set url = fields.view_node.content %}
{% set stub = url|split("/") %}
{% set start_date = fields.field_date_1.content %}
{% set end_date = fields.field_date_2.content %}

{% set day = fields.field_date_3.content|date('j') %}
{% set month = fields.field_date_3.content|date('F') %}
{% set start_time = fields.field_date_3.content|date('g:i A') %}
{% set end_time = fields.field_date_4.content|date('g:i A') %}

{% set start = start_date|split("|") %}
{% set start = start[0] %}

{% set end = end_date|split("|") %}
{% set end = end[1] %}


{% set location = fields.field_location.content %}
{% set building = fields.field_building.content  %}

{% set rsvp_link_title = fields.field_slate_external_url_1.content %}
    {% if rsvp_link_title is not empty %}
        {% set rsvp_link_title = rsvp_link_title %}
    {% else %}
        {% set rsvp_link_title = "rsvp"%}
    {% endif %}


<div class="preview_tabs">
<div id="tabs">
<ul>
{% for website in websites %}
    {% if website  == "USFCA" %}
        <li><a href="#tabs-1">Preview USFCA</a></li>
    {% endif %}
    {% if website  == "MyUSF" %}
        <li><a href="#tabs-2">Preview MyUSF</a></li>
    {% endif %}
{% endfor %}
</ul>
{% for website in websites %}
    {% if website  == "USFCA" %}
<div id="tabs-1">
    <div class="event_header_bg">
        <div class="event_display_title">
            {{ fields.field_display_title.content }}
        </div>
    </div>
<div class="text-container">
    <div class="date-wrapper">
        <div class="f--field f--date-string">
            <span>{{ day }}</span> {{ month }}
        </div>
    </div>
<div class="f--field f--time-string">
  {{ start_time }} - {{ end_time }}
</div>
<div class="location-wrapper">
    <div class="f--field f--text">
        {% if location is not empty %}
            {{ location }}
        {% endif %}
        {% if location is not empty and building is not empty %}
            - 
        {% endif %}
        {% if building is not empty %}
            {{  building }}
        {% endif %}
    </div>
</div>
<div class="f--field f--description"></div>
<div class="links-container">
    <div class="f--field f--link">
        <a class="link" href="{{ fields.field_slate_external_url.content }}"  target="_blank" rel="noopener">{{ rsvp_link_title }}</a>
    </div>
</div>
</div>

{% if fields.field_media.content %} 
    <div class="event_media">
            {{ fields.field_media.content }}
    </div>
{% endif %}
{% if fields.field_image_caption.content %} 
    <div class="event_media_caption">
            {{ fields.field_image_caption.content }}
    </div>
{% endif %}
{% if fields.body.content %}
    <div class="event_body">  
            {{ fields.body.content }}
    </div>
{% endif %}
</div>
{% endif %}

{% if website  == "MyUSF" %}
<div id="tabs-2">
    <div class="event_display_title">
        {{ fields.field_display_title.content }}
    </div>
    <div class="event_date">
        {{ start  ~ ' - ' }} {{ end }}
    </div>
    <div class="event_location">
    {% if location is not empty %}
        {{ location }}
      {% endif %}
      {% if location is not empty and building is not empty %}
        - 
      {% endif %}
      {% if building is not empty %}
        {{  building }}
    {% endif %}
    </div>
    {% if fields.field_media.content %}
        <div class="event_media">
            {{ fields.field_media.content }}
        </div>
    {% endif %}
    {% if fields.field_image_caption.content %}
        <div class="event_media_caption">  
            {{ fields.field_image_caption.content }}
        </div>
    {% endif %}
    {% if fields.field_slate_external_url.content %}
        <div class="event_rsvp_link">
            <p><a class="diamond_link" href="{{ fields.field_slate_external_url.content }}" rel="noopener noreferrer" target="_blank">{{ rsvp_link_title }}</a></p>
        </div>
    {% endif %}
    {% if fields.body.content %}
        <div class="event_body">  
            {{ fields.body.content }}
        </div>
    {% endif %}
</div>
    {% endif %}

{% endfor %}
</div>